<div id="<%= dom_id band_rider %>">
  <p>
    <strong>Band:</strong>
    <%= band_rider.band_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= band_rider.name %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= band_rider.version %>
  </p>

</div>
