<h1>Editing band rider</h1>

<%= render "form", band_rider: @band_rider %>

<br>

<div>
  <%= link_to "Show this band rider", @band_rider %> |
  <%= link_to "Back to band riders", band_riders_path %>
</div>
